* {

	box-sizing: border-box;
}
html , body {

	margin: 0;
	padding: 0;
}

html {
	background: url(./images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}
body {
	content: '';
	background-color: rgba(0,0,0,0.9);
	transition: all 1.3s;

}
body:hover {
	background-color: rgba(0,0,0,0.5);

}
.header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.logo {

	display: flex;
	align-items: center;
	font-family: Wallpoet;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	text-decoration-line: line-through;
	color: white;
}

.logo h1 {
 margin: 0;
}


.navlinks ul {

	display: flex;
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
	color: white;
	text-decoration: none;
	list-style: none;
	/*height: 140px;*/

}
.navlinks a {

	display: block;
	color: inherit;
	text-decoration: none;
	padding:1rem;
	letter-spacing: 5px;
	font-size: 14px;
	font-family: poppins, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	/*height: 140p	*/
}

.navlinks a:before {
	content: '';
	display: block;
	width: 0%;
	opacity: 0.5;
	height: 1px;
	background-color: crimson;
	position: relative;
	top: 25px;
	left: 0px;
	transition: all 0.5s;


}
.navlinks a:hover:before {
	width: 100%;
	opacity: .8;

}

.container  {
	min-height: 100vh;
	font-family: poppins, sans-serif;
	width: 100%;
	font-size: 38px;
	font-weight: lighter;
	text-transform: uppercase;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.frontpage .container {
	letter-spacing: 50px;

}

.container p {
	
	font-family: poppins, sans-serif;
	width: 100%;
	font-size: 18px;
	letter-spacing: 8px;
	font-weight: lighter;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.frontpage 
.container h2:before {
	content: '';
	display: block;
	width: 0%;
	opacity: 0.5;
	height: 1px;
	background-color: crimson;
	position: relative;
	top: 45px;
	left: -25px;
	transition: all 1s;


}
.frontpage
.container h2:hover:before {
	width: 100%;
	opacity: .8;
}
/*.content {
	align-content: center;
	font-size: 50px;
	color: white
	text-transform:uppercase;
	letter-spacing: 5px;
}*/