* {

	box-sizing: border-box;
}
html , body {

	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	background-size: cover;
}
body.frontpage {
	background: url(./images/bg.jpg) no-repeat center center fixed;
}
#box1 {
	content: '';
	background-color: rgba(0,0,0,0.9);
	transition: all 1.3s;

}
#box1:hover {
	background-color: rgba(0,0,0,0.5);

}
.header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.logo {

	display: flex;
	align-items: center;
	font-family: Wallpoet;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	text-decoration-line: line-through;
	color: white;
}

.logo h1 {
 margin: 0;
}


.navlinks ul {

	display: flex;
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
	color: white;
	text-decoration: none;
	list-style: none;
	/*height: 140px;*/

}
.navlinks a {

	display: block;
	color: inherit;
	text-decoration: none;
	padding:1rem;
	letter-spacing: 5px;
	font-size: 14px;
	font-family: poppins, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	/*height: 140p	*/
}

.navlinks a:before {
	content: '';
	display: block;
	width: 0%;
	opacity: 0.5;
	height: 1px;
	background-color: crimson;
	position: relative;
	top: 25px;
	left: 0px;
	transition: all 0.5s;


}
.navlinks a:hover:before {
	width: 100%;
	opacity: .8;

}

.container  {
	min-height: 100vh;
	font-family: poppins, sans-serif;
	width: 100%;
	font-size: 15px;
	font-weight: lighter;
	text-transform: uppercase;
	color: white;
	padding: 0 2rem;
}

.container h2 {
	font-size: 16px;
	text-transform: lowercase;
	letter-spacing: 3px;
	text-align: center;
}

.frontpage
.container h2 {
	font-size: 57px;
	letter-spacing: 50px;
	text-transform: uppercase;
	font-weight: lighter;
}

.container h2 {
	font-weight: lighter;
}
.frontpage
.container h2 {
	font-weight: initial;
}

.about .container,
.frontpage .container {

	display: flex;
	align-items: center;
	justify-content: center;

}
.frontpage
.container p {
	letter-spacing: 8px;
}
.container p {
	
	font-family: poppins, sans-serif;
	width: 100%;
	font-size: 18px;
	font-weight: lighter;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.frontpage 
.container h2:before {
	content: '';
	display: block;
	width: 0%;
	opacity: 0.5;
	height: 1px;
	background-color: crimson;
	position: relative;
	top: 45px;
	left: -25px;
	transition: all 1s;


}


.frontpage
.container h2:hover:before {
	width: 100%;
	opacity: .8;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    margin-bottom: 2rem;
}

:root{
	--swiper-theme-color: white;
}


.swiper-slide {
	display: flex;

}


img, video {

	width: auto;
	height: auto;
	max-width:100%;
	max-height: 100%;
	margin:0 auto;

}

/*About*/
.center {
	text-align: center;
}
.m {
	margin: 1rem;
}

.info {
	align-items: center;
	font-size: 15px;
	text-transform: lowercase;
	font-weight: lighter;
	font-family: poppins, sans-serif;

}

